html,
body,
#app{
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body {
  background-color: rgb(245,245,245);
}

a{
  text-decoration: none;
  color: #ccc;
}

a:hover{
  color: #fff;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: block;
}

/* 歌曲、排行耪等内容区 */
.containerMain {
  /* height: 70px; */
  width: 984px;
  margin: 0 auto;
  display: block;
  position: relative;
}
.containerMain .el-carousel .el-carousel__indicator--horizontal {
  padding: 12px 3px !important;
}